---
import { Image } from "astro:assets";

import logo from "../images/hoppscotch.svg";
import neon from "../images/neon.svg"
import pinia from "../images/pinia.svg"

import curriculum from "../images/curriculum.svg"
import problem from "../images/problem.svg"
import money from "../images/money.svg"
import summers from "../images/summer.svg"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title></title>
	</head>
	<body class=" font-work">
		<!-- hero  -->
		<section class=" min-h-screen bg-yellow-100">

			<div class=" w-5/6 mx-auto">
				<nav class=" flex items-center justify-between font-bold">
					
					<div class=" flex items-center mt-4">
						<Image src={pinia} alt="logo" width={30} />
						<h2 class="ml-2">Schoolhub</h2>
					</div>

					<div class=" mt-4">
						<a class=" ml-2 py-2 px-2 hover:bg-green-400 cursor-pointer rounded-xl">Features</a>
						<a class=" ml-2 py-2 px-2 hover:bg-green-400 cursor-pointer rounded-xl">How it works</a>
						<a class=" ml-2 py-2 px-2 hover:bg-green-400 cursor-pointer rounded-xl">Pricing</a>
						<a class=" ml-2 py-2 px-2 hover:bg-green-400 cursor-pointer rounded-xl">FAQ</a>
					</div>

					<div role="button" class=" mt-4 border border-black rounded-xl bg-yellow-400 px-3 py-2 ">
						Book a call
					</div>

				</nav>
			</div>

			<div class=" block lg:flex items-center justify-between gap-4 w-5/6  mx-auto mt-32">
				<div class=" lg:w-1/2 h-auto bg-green-400 rounded-xl">
					<h1 class="text-5xl font-bold text-white ml-4 mt-10">The all in one school management solution.</h1>
					<p class=" ml-4 mt-10 text-white">Easily manage your school: Online registration, Tuition Handling, Staff Coordination, and
						Parental Engagement. All in One Place.
					</p>
					<div class=" mt-10 ml-4 mb-4">
						<button class="py-2 px-4 bg-yellow-400 rounded-2xl ">Book a call</button>
						<button class="py-2 px-4 bg-gray-100 rounded-2xl ">Watch Demo</button>
					</div>
			</div>
				<Image src={problem} alt="other" width={400} />
			</div>

			<!-- stats -->
			<div class=" block  w-5/6 mx-auto lg:flex gap-2 mt-20 justify-between">

				<div class="">
					<h1 class="text-7xl font-bold">500+</h1>
					<p class="mt-4">Schools managed</p>
				</div>

				<div class="">
					<h1 class="text-7xl font-bold">95%</h1>
					<p class="mt-4">Parent satisfaction</p>
				</div>

				<div class="">
					<h1 class=" text-7xl font-bold">30hrs</h1>
					<p class="mt-4">Per week time saved</p>
				</div>

				<div class=" mb-4">
					<h1 class=" text-7xl font-bold">100%</h1>
					<p class="mt-4">Increase the enrollment efficiency</p>
				</div>

			</div>

		</section>

		<!-- body data  -->

		<div>
			<h2 class=" mt-10 font-bold text-4xl text-center line-clamp-3">Simplifying school management,<br> one feature at a time.</h2>
		</div>

		<div class=" grid grid-cols-1 lg:grid-cols-3 gap-2 w-5/6 mx-auto mt-10 mb-10">

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={money} alt="camp" width={100} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold ">Easy-Peasy Registration</h1>
					<p class=" ml-4 mt-4">Sign up your child early and secure their spot for the next school year.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={curriculum} alt="camp" width={120} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Effortless Tuition Payment</h1>
					<p class=" ml-4 mt-4">Sign up your child early and secure their spot for the next school year.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={summers} alt="camp" width={140} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Family Coordination</h1>
					<p class=" ml-4 mt-4">Easily manage all your family's school-related information in one place.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={summers} alt="camp" width={140} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Connect & Share</h1>
					<p class=" ml-4 mt-4">Foster strong school-community ties with two-way communication and informative newsletter.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={money} alt="camp" width={100} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Seamless Enrollment System</h1>
					<p class=" ml-4 mt-4">Keep your student roster organized and upto date with ease.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={curriculum} alt="camp" width={120} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Custom Applications</h1>
					<p class=" ml-4 mt-4">Customize your application process to fit your school's unique needs.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={curriculum} alt="camp" width={120} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Fun-Filled Summer Camps</h1>
					<p class=" ml-4 mt-4">Plan and organize engaging summer camps that students love.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={summers} alt="camp" width={140} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Your Curriculum, Your Way</h1>
					<p class=" ml-4 mt-4">Design and implement a curriculum that meets your educational vision.</p>
				</div>
			</div>

			<div class=" rounded-xl border border-gray-300 w-64 ">
				<Image class="  mx-auto mt-10" src={money} alt="camp" width={100} />
				<div class=" text-left">
					<h1 class="ml-4 mt-4 font-semibold">Insights at a Glance</h1>
					<p class=" ml-4 mt-4">Access comprehensive reports for informed decision-making about your school.</p>
				</div>
			</div>

		</div>

		<section class=" min-h-screen bg-yellow-100">
				<h1 class=" text-4xl font-bold text-center">Clear, simple pricing</h1>
				<div class=" block mt-20 lg:flex gap-3 items-center justify-center">
					<div class=" h-auto max-w-96 bg-white rounded-xl">
						<div class=" ml-4 mt-4">
							<h1 class=" text-2xl font-medium">Starter</h1>
							<p class=" mt-4">Ideal for small schools with upto 200<br> students.</p>
							<h2 class=" mt-4 text-3xl font-bold">$59<span class=" text-gray-400 text-xl">/per month</span></h2>
							<button class="py-2 px-4 border border-black bg-yellow-400 rounded-3xl mt-4 ">Get started with Starter-Kit</button>
							<hr class=" mt-4 w-full border border-gray-200 max-auto">
							<div class=" flex mt-4 items-center justify-center">
								<Image src={neon} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Tuition Processing Rate</h2>
									<p class=" ml-2">A flat free of 1% on tuition payments</p>
								</div>
							</div>
							<div class=" flex mt-4 items-center justify-center">
								<Image src={logo} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Tools</h2>
									<p class=" ml-2 ">Just the basic tools to get you going</p>
								</div>
							</div>
							<div class=" flex mt-4 items-center justify-center mb-4">
								<Image src={neon} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Support</h2>
									<p class=" ml-2">Email support with 48-hour response</p>
								</div>
							</div>
						</div>
					</div>
					<div class=" h-auto max-w-96 bg-green-400 rounded-xl">
						<div class=" ml-4 mt-4">
							<h1 class=" text-2xl font-medium">Growth</h1>
							<p class=" mt-4">Designed for larger schools,<br> accomodating 101 students to infinity.</p>
							<h2 class=" mt-4 text-3xl font-bold">$79<span class=" text-white text-xl">/per month</span></h2>
							<button class="py-2 px-4 border border-black bg-yellow-400 rounded-3xl mt-4 ">Get started with Growth-Kit</button>
							<hr class=" mt-4 w-full border border-gray-200 max-auto">
							<div class=" flex mt-4 items-center justify-center">
								<Image src={neon} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Tuition Processing Rate</h2>
									<p class=" ml-2">A flat free of 1% on tuition payments</p>
								</div>
							</div>
							<div class=" flex mt-4 items-center justify-center">
								<Image src={neon} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Tools</h2>
									<p class=" ml-2">Advanced tools and reporting soluti</p>
								</div>
							</div>
							<div class=" flex mt-4 items-center justify-center mb-4">
								<Image src={neon} alt="logo" width={50} />
								<div class=" block">
									<h2 class=" ml-2 font-medium">Support</h2>
									<p class=" ml-2">Email support with 24-hour response</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<footer class="  ">

			<div class=" mt-10 flex gap-4 ">

				<div class=" ml-10">
					<h2>Schoolhub</h2>
				</div>

				<div class=" ">
					<span class=" font-medium mt-4">Links</span>
					<ul>
						<li>Home</li>
						<li>How it works</li>
						<li>About</li>
						<li>Careers</li>
					</ul>
				</div>

				<div>
					<span class=" font-medium mt-4 mb-10">Socials</span>
					<ul>
						<li>facebook</li>
						<li>linkedIn</li>
						<li>X</li>
						<li>Instagram</li>
					</ul>
				</div>

			</div>

		</footer>

	</body>
</html>